extend index
block main
    #banner.container
        .row
            .col-lg-5
                .page-header
                    h1 Create new Destination
                    .row
                        .col-lg-10
                            form.form-horizontal(method="post" name="createDestination")
                                fieldset
                                    legend
                                    |
                                    .form-group
                                        label.col-lg-2.control-label(for='title') Name
                                        |
                                        .col-lg-10
                                            input#inputProjectName.form-control(placeholder='Name', type='text', name="name")
                                        |
                                        |
                                    .form-group
                                        label.col-lg-2.control-label(for='description') Description
                                        |
                                        .col-lg-10
                                            textarea#textArea.form-control(rows='3', name="description")
                                            |
                                            span.help-block Tell us something about your project.
                                        |
                                    .form-group
                                        .col-lg-10.col-lg-offset-2
                                            button.btn.btn-default(type='reset') Cancel
                                            |
                                            button.btn.btn-primary(type='submit') Submit