extends index

block main
        #banner.container
            .row
                .col-lg-12
                    div(class="fullscreen-bg")
                        video(loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video")
                            source(src="https://r2---sn-x8vapo3-nv4l.googlevideo.com/videoplayback?source=youtube&dur=821.880&id=o-ANQYuu2hM4QtkY5I1xGUWwEXCatFW92FX2Td89qIHEyE&itag=248&lmt=1458902872035187&requiressl=yes&ip=194.141.112.190&keepalive=yes&signature=4D27FAEE1A70656CAB1A9E9E45367CB1F607F65F.50F1F417E7957A02C31E5B01F320D32297C785CF&clen=268000479&pl=16&ei=zqMWWZDzNoa88wTN4YOYDg&key=cms1&gir=yes&sparams=clen,dur,ei,expire,gir,id,initcwndbps,ip,ipbits,ipbypass,itag,keepalive,lmt,mime,mm,mn,ms,mv,pcm2cms,pl,requiressl,source,upn&expire=1494677551&ipbits=0&mime=video%2Fwebm&upn=EJPcOkuI2wM&ratebypass=yes&redirect_counter=1&req_id=777d204b62f8a3ee&cms_redirect=yes&ipbypass=yes&mm=31&mn=sn-x8vapo3-nv4l&ms=au&mt=1494655940&mv=m&pcm2cms=yes" type="video/webm")