doctype html
html
  head
    title= "National Tourist Sites"
    link(rel='stylesheet', href='/public/bower_components/bootstrap-social/bootstrap-social.css')
    link(rel='stylesheet', href='https://bootswatch.com/yeti/bootstrap.css')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

  body
    block content
