extends index

block main
    .col-lg-4.col-md-6
        h1 Login here:
        form(action="/login" method="post")
            .form-group
                label(for="tb-username") Username
                input.form-control(type="text" name="username" placeholder="Enter Username" required)
            .form-group    
                label(for="tb-password") Password
                input.form-control(type="password" name="password" placeholder="Enter Password" required)
            .form-group
                input.btn.btn-success(type="submit" value="Login")
        .form-group